    <footer class="rentacar-footer  text-center text-white ">
    <!-- Grid container -->
      <!-- Section: Social media -->
      <section class="w-auto">
        <div class="row">
          <div class="col p-3">
            <p>&copy; 2021 RentACar</p>
          </div>
          <div class="col p-3">
            <p>GitHub Links</p>
          </div>
          <div class="col p-3">
            <p>Privacy Policy</p>
          </div>
        </div>
      </section>
      <section>
        <a
          class="btn btn-secondary btn-floating btn-sm m-1"
          style="background-color: #333333;"
          href="https://github.com/gulsenemguvenn" target="_blank"
          role="button"
          ><i class="fab fa-github"></i
        >Gülsenem</a>
        <a
          class="btn btn-secondary btn-floating btn-sm m-1"
          style="background-color: #333333;"
          href="https://github.com/burcukocal" target="_blank"
          role="button"
          ><i class="fab fa-github"></i
        >Burcu</a>
        <a
          class="btn btn-secondary btn-floating btn-sm m-1"
          style="background-color: #333333;"
          href="https://github.com/mustafatatlikatik" target="_blank"
          role="button"
          ><i class="fab fa-github"></i
        >Mustafa</a>
        <a
          class="btn btn-secondary btn-floating btn-sm m-1"
          style="background-color: #333333;"
          href="https://github.com/b36190626" target="_blank"
          role="button"
          ><i class="fab fa-github"></i
        >Kaan</a>
      </section>
  </footer>

